# toggle console.note loggers by specifiyng which labels in a comma-separated list are displayed
VITE_LOGGER=EDITOR

# load tauri MCP server: turn off with 0 to debug manually (it intercepts console.log calls via its wrapper)
TAURI_MCP=1
